/* Import des polices */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&display=swap');

/* Variables CSS */
:root {
  --background: rgba(9, 82, 40, 0.800);
  --text-color: rgba(230, 230, 230, 0.900);
}

/* Styles communs */
body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  overflow-x: hidden;
}

.header {
  background-color: var(--background);
}

.menu-color {
  color: var(--text-color);
  font-weight: 500;
  font-size: 18px;
}

.navbar-custom {
  background-color: var(--background);
  color: var(--text-color);
  position: sticky;
  top: 0;
  width: 100%;
  backdrop-filter: blur(10px);
  z-index: 10;
}

.navbar-custom .nav-link {
  color: var(--text-color);
}

/* Pour s'assurer que la couleur du texte change également pour les liens actifs */
.navbar-custom .nav-link.active {
  color: var(--text-color);
}

.navbar-logo {
  width: 20vh;
  height: 20vh; /* Réduire la largeur à 100px */
}

.offcanvas-header {
            display: none;
          }

.offcanvas {
  background-color: transparent;
  margin: auto;
}

.header img {
  width: 110px;
  height: 100px;
}

.hero-container {
  background-image: url('../src/assets/img/image3.jpg'); /* Chemin vers ton image */
  background-attachment: fixed; /* Créé l'effet parallaxe */
  background-size: cover; /* Couvre tout l'élément */
  background-position: center; /* Centre l'image */
  background-repeat: no-repeat; /* Empêche la répétition de l'image */
  height: 100vh; /* Ajuste la hauteur selon tes besoins */
  position: relative;
  z-index: 1; /* Assure que le hero est derrière la navbar */
}

.hero-text h1 span,
.hero-text p {
  color: var(--text-color);
}

.footer {
  background-color: var(--background);
  color: var(--text-color);
  position: sticky;
  backdrop-filter: blur(10px);
  z-index: 10;
}

/* Styles spécifiques à la page de destination */
video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.landing-page-header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  color: rgba(230, 230, 230, 0.9);
  text-align: center;
}

.landing-page-header h1 {
  font-weight: 500;
  font-size: 1.75rem;
  text-transform: uppercase;
  line-height: 1;
}

.landing-page-header span {
  font-weight: 800;
  font-size: 6rem;
  display: block;
}

.landing-page-header p {
  margin-top: 5rem;
  font-size: 1rem;
}

.description {
  position: absolute;
  bottom: 3%;
  width: 50%;
  left: 0;
  right: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.6);
  color: rgba(230, 230, 230, 0.9);
  border-radius: 15px;
  padding: 1.5rem;
  text-align: center;
}

.description form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description input {
  padding: 0.5rem;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  border: none;
  border-radius: 5px;
  width: 80%;
  max-width: 300px;
  align-items: center;
}

.description button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.description button:disabled {
  background-color: #699c6c;
}

.description p {
  text-align: justify;
  max-width: 42rem;
  margin-inline: auto;
  line-height: 1.5;
}

.copyright {
  font-size: 0.60rem;
  margin-top: 0.1rem;
  color: rgba(230, 230, 230, 0.8);
  text-underline-offset: 1.1px;
}

.copyright a {
  color: rgba(230, 230, 230, 0.8);
  text-underline-offset: 1.1px;
}

.form-check-label {
  font-size: 0.8rem;
}

/* Custom styles for the consent switch */
.form-switch .form-check-input {
  width: 1.9rem;
  height: 1rem;
  background-color: #28a745; /* Green background */
  border: 1px solid #28a745;
  border-radius: 1rem;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.form-switch .form-check-input:checked {
  background-color: #28a745; /* Green background when checked */
  border-color: #28a745;
}

.form-switch .form-check-input:focus {
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

@media screen and (max-width: 1200px) {
  .description {
    width: 91vh;
    bottom: 0;
    border-radius: 20px 20px 0 0;
    padding: 0.6rem 1.5rem;
  }
    section h1{
        font-size: 80px;
    }

    .header-navbar.sticky nav{
        width: 70px;
        height: 70px;
    }

  .hero-container .btn {
    padding: 0.5rem 1rem; /* Ajuste la taille du bouton */
    font-size: 16px; /* Réduit la taille du texte du bouton */
  }
}
